version: "3.9"

services:
  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    restart: unless-stopped
    command: ["redis-server", "--save", "60", "1"]
    volumes:
      - redis_data:/data

volumes:
  redis_data:
